---
layout: default
---
<div class="post">

  <article class="post-content fullwidth">
    {{ content }}
    {% include image-gallery.html folder="/assets/img/gun-camos/classic" %}
  </article>
  	{% include image-gallery.html folder="/assets/img/gun-camos/flora" %}
  	{% include image-gallery.html folder="/assets/img/gun-camos/geometric" %}
  	{% include image-gallery.html folder="/assets/img/gun-camos/mastery" %}
  	{% include image-gallery.html folder="/assets/img/gun-camos/psychedelic" %}
  	{% include image-gallery.html folder="/assets/img/gun-camos/science" %}
  	{% include image-gallery.html folder="/assets/img/gun-camos/spray" %}
  	{% include image-gallery.html folder="/assets/img/gun-camos/stripes" %}
</div>