---
layout: default
---
<article class="post-content fullwidth">
	<div class="weapon-page">
    	<div class="weapon-kit">
			<h2 class="weapons-kit_header">Blueprints</h2>
				<div class="weapon-kits">
					<div class="weapon-card">
						<img src="#">
			<div class="rarity-wrapper"><img src="#"></div>
			<div class="weapon-name">Weapon Name</div>
			<div class="weapon-rarity">Weapon Rarity</div>
			</div>
			</div>

		</div>{{ content }}{% if page.galleries %}{% include image-gallery.html %}{% endif %}
	</div>
</article>